


@media only screen and (max-width: 768px) {
    .dino-top-left,
    .dino-top-right,
    .dino-bottom-left,
    .dino-bottom-right {
        display: none; /* Skryjte dinosaury pro menší obrazovky */
    }
}

/* Pro mobilní zařízení */
@media only screen and (max-width: 600px) {
    canvas {
        width: 100%; /* Plné šířka na mobilních zařízeních */
        height: auto; /* Automatická výška */
    }
}

/* Pro tablety a větší */
@media only screen and (min-width: 601px) {
    canvas {
        width: 750px; /* Přizpůsobená šířka pro tablety a větší */
        height: 250px; /* Přizpůsobená výška */
    }
}


@media print {
    .dino-top-left,
    .dino-top-right,
    .dino-bottom-left,
    .dino-bottom-right {
        display: none; /* Skryjte dinosaury při tisku */
    }
}
